.case-section {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.case-layout {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}
/* Case-layout-rightside */
.case-image {
	width: fit-content;

		animation: slideUp 1.2s ease forwards;
	animation-timeline: view();
	animation-range: entry 0% cover 40%;
}

/* Case-layout-leftside */
.info-title {
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 0.64px;
	color: var(--white);
	opacity: 0.7;
}
.case-information {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.32px;
	opacity: 0.7;
	color: var(--white);
}
.buynow-label {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.36px;
	opacity: 0.7;
	color: var(--white);
}
.buynow-button {
	width: 140px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 24px;
	gap: 8px;
	background-color: var(--orange);
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(30px);
	color: var(--white);
}
.case-information-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.case-description {
	width: 48ch;
	display: flex;
	flex-direction: column;
	gap: 36px;

		animation: slideInFromRight 1.2s ease forwards;
	animation-timeline: view();
	animation-range: entry 0% cover 40%;
}
