.scroll-bar {
  background: var(--orange);
  height: 80px;
  display: flex;
  align-items: center;
  transform: translateX(15%);
  border-radius: 16px;
  width: 100%;
}

.scroll-bar-content {
  display: flex;
  align-items: center;
  gap: 32px;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
}



@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
