.partner-section{
    display: flex;
    flex-direction: column;

}
.patners{
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    line-height: 0%;


}
.icon_title{
    color: orange;
    font-weight: 600;
}
.patner_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 10%;
   
}

.icon_text{
    font-size: 0.8rem;
    margin: 0;
    color: gray;
}
